@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply antialiased;
  @apply bg-background text-white;

  min-height: 100vh;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  @apply px-8;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.logo {
  fill: currentColor;
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.nextImage {
  object-fit: contain;
  max-width: 100% !important;
  position: relative !important;
  height: unset !important;
}
