@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply antialiased;
  @apply bg-background text-foreground;

  min-height: 100vh;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(736px, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.logo {
  fill: currentColor;
}

.imageContainer > span {
  position: unset !important;
}

.nextImage {
  object-fit: contain;
  max-width: 100% !important;
  position: relative !important;
  height: unset !important;
}

pre {
  @apply text-sm px-6 py-4 bg-secondaryBg border border-gray-100 rounded-md overflow-x-auto;
}
